function Shape.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 6
push argument 1
pop this 5
push constant 100
push constant 0
call Point2d.new 2
pop this 8
push this 6
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 5
call SquareShape.new 1
pop this 0
push this 0
call SquareShape.getSegmentsCount 1
pop this 7
label IF_FALSE0
push this 6
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
call ZShape.new 1
pop this 1
push this 1
call ZShape.getSegmentsCount 1
pop this 7
label IF_FALSE1
push this 6
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 5
call CrossShape.new 1
pop this 2
push this 2
call CrossShape.getSegmentsCount 1
pop this 7
label IF_FALSE2
push this 6
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 5
call FlatShape.new 1
pop this 3
push this 3
call FlatShape.getSegmentsCount 1
pop this 7
label IF_FALSE3
push this 6
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 5
call SmallFlatShape.new 1
pop this 4
push this 4
call SmallFlatShape.getSegmentsCount 1
pop this 7
label IF_FALSE4
push pointer 0
call Shape.setCoordinates 1
pop temp 0
push pointer 0
return
function Shape.getSegmentsCount 0
push argument 0
pop pointer 0
push this 7
return
function Shape.getPoints 2
push argument 0
pop pointer 0
push this 6
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call SquareShape.getCoordinates 1
return
label IF_FALSE0
push this 6
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call ZShape.getCoordinates 1
return
label IF_FALSE1
push this 6
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
call CrossShape.getCoordinates 1
return
label IF_FALSE2
push this 6
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
call FlatShape.getCoordinates 1
return
label IF_FALSE3
push this 6
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 4
call SmallFlatShape.getCoordinates 1
return
goto IF_END4
label IF_FALSE4
push local 1
return
label IF_END4
function Shape.draw 2
push argument 0
pop pointer 0
push this 8
call Point2d.getX 1
pop local 0
push this 8
call Point2d.getY 1
pop local 1
push constant 10
push constant 0
call Output.moveCursor 2
pop temp 0
push this 6
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push local 0
push local 1
call SquareShape.draw 3
pop temp 0
label IF_FALSE0
push this 6
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push local 0
push local 1
call ZShape.draw 3
pop temp 0
label IF_FALSE1
push this 6
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
push local 0
push local 1
call CrossShape.draw 3
pop temp 0
label IF_FALSE2
push this 6
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
push local 0
push local 1
call FlatShape.draw 3
pop temp 0
label IF_FALSE3
push this 6
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 4
push local 0
push local 1
call SmallFlatShape.draw 3
pop temp 0
label IF_FALSE4
push constant 0
return
function Shape.setCoordinates 2
push argument 0
pop pointer 0
push this 8
call Point2d.getX 1
pop local 0
push this 8
call Point2d.getY 1
pop local 1
push this 6
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push local 0
push local 1
call SquareShape.setCoordinates 3
pop temp 0
label IF_FALSE0
push this 6
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push local 0
push local 1
call ZShape.setCoordinates 3
pop temp 0
label IF_FALSE1
push this 6
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
push local 0
push local 1
call CrossShape.setCoordinates 3
pop temp 0
label IF_FALSE2
push this 6
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
push local 0
push local 1
call FlatShape.setCoordinates 3
pop temp 0
label IF_FALSE3
push this 6
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 4
push local 0
push local 1
call SmallFlatShape.setCoordinates 3
pop temp 0
label IF_FALSE4
push constant 0
return
function Shape.moveDown 0
push argument 0
pop pointer 0
push this 8
push this 8
call Point2d.getY 1
push this 5
add
call Point2d.setY 2
pop temp 0
push pointer 0
call Shape.setCoordinates 1
pop temp 0
push constant 0
return
function Shape.moveUp 0
push argument 0
pop pointer 0
push this 8
push this 8
call Point2d.getY 1
push this 5
sub
call Point2d.setY 2
pop temp 0
push pointer 0
call Shape.setCoordinates 1
pop temp 0
push constant 0
return
function Shape.moveLeft 0
push argument 0
pop pointer 0
push this 8
push this 8
call Point2d.getX 1
push this 5
sub
call Point2d.setX 2
pop temp 0
push pointer 0
call Shape.setCoordinates 1
pop temp 0
push constant 0
return
function Shape.moveRight 0
push argument 0
pop pointer 0
push this 8
push this 8
call Point2d.getX 1
push this 5
add
call Point2d.setX 2
pop temp 0
push pointer 0
call Shape.setCoordinates 1
pop temp 0
push constant 0
return
function Shape.dispose 0
push argument 0
pop pointer 0
push this 8
call Point2d.dispose 1
pop temp 0
push this 6
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call SquareShape.dispose 1
pop temp 0
label IF_FALSE0
push this 6
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call ZShape.dispose 1
pop temp 0
label IF_FALSE1
push this 6
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
call Output.printInt 1
pop temp 0
push this 2
call CrossShape.dispose 1
pop temp 0
label IF_FALSE2
push this 6
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
call FlatShape.dispose 1
pop temp 0
label IF_FALSE3
push this 6
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 4
call SmallFlatShape.dispose 1
pop temp 0
label IF_FALSE4
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
